<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:site_name" content="{{ site.shortname }}">
    <meta property="og:url" content="http://{{ site.domain }}{{ page.url }}">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <title>{{ page.title }}</title>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-42595236-2', 'denkenoverlinks.nl');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id="sidebar">
      <p><a href="/"><img src="/images/logo.png" width=320px /></a>
      <span class="floatright">
        <a href="http://facebook.com/denkenoverlinks/"><img src="/images/logo_facebook.png" class="logo"></a>
        <a href="http://twitter.com/denkenoverlinks/"><img src="/images/logo_twitter.png" class="logo"></a>
        <a href="/atom.xml"><img src="/images/logo_atom.png" class="logo"></a>
        <a href="mailto:info@denkenoverlinks.nl"><img src="/images/logo_email.png" class="logo"></a>
      </span></p>
    </div>
    <div id="content">
      {{ content }}
    </div>
  </body>
</html>
