---
layout: default
---
<p class="gray">
{% if page.previous %}<a href="{{ page.previous.url }}">vorige</a>{% else %}<b>vorige</b>{% endif %}
&bull;
<b>{{ page.date | date_to_string }}</b>
&bull;
{% if page.next %}<a href="{{ page.next.url }}">volgende</a>{% else %}<b>volgende</b>{% endif %}
&bull;
{% if page.url != site.posts.first.url %}<a href="{{ site.posts.first.url }}">laatste</a>{% else %}<b>laatste</b>{% endif %}
</p>
<h2>{{ page.title }}
</h2>

{% if page.english %}<p>English version <a href="{{page.english}}.html">here</a>.</p>{% endif %}
{% if page.dutch %}<p>Nederlandse versie <a href="{{page.dutch}}.html">hier</a>.</p>{% endif %}

<div class="post">
{{ content }}
</div>
